@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Source+Sans+3:wght@300;400&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    margin: 0 auto;
}

.container {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

button{
    border: none;
    padding: 12px;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
}

.button--secondary{
    font-family: 'League Gothic', sans-serif;
    color: white;
    background-color: black;
    font-size: 20px;
}

.button--primary {
    font-family: 'League Gothic', sans-serif;
    color: white;
    background-color: #8277FF;
    font-size: 20px;
    border-color: #8277FF;
}
.button--primary:hover{
    color: white;
    background-color: #16d6ad;
    border-color: #16d6ad;
}
.button--secondary:hover {
    color: white;
    background-color: #16d6ad;
    border-color: #16d6ad;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/header.png');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);;
    min-height: 400px;
}

.header__title {
    color: white;
    font-size: 54px;
}

.header__title span {
    color: #F87B6A;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: block;
}

.searchBar {
    background-color: white;
    border-radius: 36px;
    padding: 10px 10px 10px 25px;;
    display: flex;
    gap: 20px;
    border: 1px solid black;
}

.searchBar input, .searchBar select {
    border: none;
}

.searchResponse__user {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: #F4F3F3;
}

.searchResponse__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}